<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Picky Eaters</title>
</head>

<body>
    <h1 class="p-4 text-center text-primary">Picky Eaters</h1>
    <%- include("partials/nav.ejs") %>
        <p id="usernameText" class="ms-auto m-2">User: <strong>
                <%=username%>
            </strong></p>


        <main class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary arrows"><span class="bi bi-caret-left-fill"></button>
            <div class="foodCard card">
                <h5 class="card-header text-center">
                    <%=data.recipes[0].title%>
                </h5>
                <div class="text-center card-body">
                    <label>
                        <input type="checkbox"> Allergic
                    </label><br>
                    <img class="foodImg" src=<%=data.recipes[0].image%>><br>
                    <button type="button" class="btn btn-outline-secondary">Details</button>
                </div>
                <div class="container px-4 card-footer">
                    <div class="cardFootRow text-center row gx-5">
                        <form method="POST" id="prefForm" action="/preference" class="d-flex justify-content-center w-100">
                            <input type="hidden" name="recipeId" value="<%= data.recipes[0].id %>">
                            <div class="col">
                                <input type="radio" class="btn-check" name="preference" id="dislikeRadio" autocomplete="off" value="dislike">
                                <label class="likeDislikeBtns btn btn-outline-danger" for="dislikeRadio">Dislike <span class="bi bi-hand-thumbs-down"></span></label>
                            </div>
                            <div class="col">
                                <input type="radio" class="btn-check" name="preference" id="likeRadio" autocomplete="off" value="like">
                                <label class="likeDislikeBtns btn btn-outline-success" for="likeRadio">Like <span class="bi bi-hand-thumbs-up"></span></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary arrows"><span class="bi bi-caret-right-fill"></button>
        </main>

        <br>
        <%- include("partials/footer.ejs") %>
        <script src="js/home.js"></script>
</body>

</html>